.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

#container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  overflow: scroll;
  max-height: 990px;
  max-width: 990px;
  border-radius: 10px;
}

.planner_wrapper {
  display: flex;
  flex-direction: row;
}

p {
  margin: 4px;
}

#drag-items img {
  max-height: 100px;
}

#drag-items {
  flex-wrap: nowrap;
}

.ant-card-body {
  max-width: 100%;
  overflow-x: auto;
}

.item-params__wrapper {
  display: flex;
  overflow: auto;
}

.controller-group {
  margin-top: 10px;
  display: flex;
  gap: 3px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.controller-group button {
  padding: 5px 10px;
}

.file-input {
  display: flex;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #fff;
}

.ant-row .ant-form-item-row {
  flex-direction: column;
}
